
<div>

    <div class="header bg-gradient-danger pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="height: 150px; background-size: cover; background-position: center top;">
        <!-- Header container -->
        <div class="container-fluid align-items-center">
          <div class="row mt-3">
            <div class="col-lg-7 col-md-10 mt-6">
              <h1 class="display-2 text-white">Terms & Conditions</h1>
            </div>
        </div>
      </div>
    </div>

    <div class="container-fluid" style="margin-top: 3%;">
        <div class="row row-cols-1">
          <div class="col">
            <div class="card bg-secondary shadow row">
                <div class="card-body mb-5">
                  <div class="row">
                  
              <ul>
                <li>This might come as a surprise, but there is no legal requirement for ecommerce businesses to provide Terms and Conditions on their site. Because of this, many businesses make the mistake of thinking that T&C aren’t that important. But you risk leaving yourself open to legal action if you don’t have one.</li>
                <li>Being transparent with how you operate makes you much more trustworthy to consumers, compared with you having no Terms and Conditions available at all. This is important because trust is among the biggest concerns that consumers have when it comes to online purchases. Having well-crafted T&C could well be the difference between your customer choosing you over a competitor.</li>
                <li>Now that we’ve discussed the importance of having Terms and Conditions for your ecommerce site, let’s discuss what it should include. Every website is different so, the sections of your T&C may vary, but here are some of the most common components typically included in an ecommerce site’s terms.</li>
                <li>The delivery terms clause of the eCommerce terms and conditions is also often referred to as the ‘shipping policy’ and includes the basic shipping/delivery policy for your online store. These can be short and concise, or more comprehensive. Some brands opt to add just a simple line directing shoppers to a separate shipping/delivery document:</li>
                <li>A comprehensive eCommerce terms and conditions should include a clause outlining the product/s (or service/s) you’re selling. Here you can use a general policy and disclaimers and outline specific restrictions relating to your products, such as products that may be age-restricted, or warranty information. In the case of the former, some brands thoroughly set out product or service eligibility in its own clause, as outlined by Dollar Shave Club.</li>
              </ul>  

                  </div>
                </div>
            </div>
          </div>
        </div>
    </div>
             
    </div>