<app-sidebar></app-sidebar>
<div class="main-content">
<!-- Top navbar -->
<app-navbar></app-navbar>
<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-6 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">

                  <!-- <span class="nav-item"style="margin-left: 10px;">
                    <a routerLink="emiCardList" class="btn btn-primary active" role="button" routerLinkActive="active">Emi Card List</a>
                  </span> -->


                  <div class="row">
                    <div class="col-sm-5">
                    <h3>Card Number:</h3>
                    </div>
                    <div class="col-sm-7 ">
                    <h3>{{userDetails.card.cardNo}}</h3>
                    </div>  
                  </div>

                  <div class="row">
                    <div class="col-sm-5">
                    <h3>Name:</h3>
                    </div>
                    <div class="col-sm-7 ">
                    <h3>{{userDetails.fName}} {{userDetails.lName}}</h3>
                    </div>  
                  </div>

                  <div class="row">
                    <div class="col-sm-5">
                    <h3>Valid till:</h3>
                    </div>
                    <div class="col-sm-7 ">
                    <h3>{{userDetails.card.validity}}</h3>
                    </div>  
                  </div>

                  <div class="row">
                    <div class="col-sm-5">
                    <h3>Card type:</h3>
                    </div>
                    <div class="col-sm-7 ">
                    <h3>{{userDetails.card.cardTypeName}}</h3>
                    </div>  
                  </div>

                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
       
        <div class="col-xl-6 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">

                  <div class="row">
                    <div class="col-sm-5">
                    <h3>Total Credit:</h3>
                    </div>
                    <div class="col-sm-7 ">
                    <h3>{{userDetails.card.cardLimit}}</h3>
                    </div>  
                  </div>

                  <div class="row">
                    <div class="col-sm-5">
                    <h3>Credit Used:</h3>
                    </div>
                    <div class="col-sm-7 ">
                    <h3>{{userDetails.card.cardLimit-userDetails.balance}}</h3>
                    </div>  
                  </div>

                  <div class="row">
                    <div class="col-sm-5">
                    <h3>Remaining credit:</h3>
                    </div>
                    <div class="col-sm-7 ">
                    <h3>{{userDetails.balance}}</h3>
                    </div>  
                  </div>

                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                    <i class="fas fa-percent"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-12 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
                <h2 class="text-black mb-0" >Products Purchased</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Chart -->
          <div class="chart">
            <table class="table table-bordered table-responsive-md text-black text-center" datatable [dtOptions]="dtOptions">
              <thead>
                <tr>
                  <th style="font-size: 14px;">Product Name</th>
                  <th style="font-size: 14px;">Product Price</th>
                  <th style="font-size: 14px;">Latest Transaction</th>
                  <th style="font-size: 14px;">VIEW</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let p of userPrdList">
                  <td> {{ p.product.productName }} </td>
                  <td> {{ p.product.price }} </td>
                  <td> {{p.transaction.transactionDate}} </td>
                  <td> <button class="btn btn-outline-dark" [routerLink]="['/userProducts',p.productPurchasedId]" routerLinkActive="router-link-active">VIEW</button> </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
<div class="container-fluid">
  <app-footer></app-footer>
</div>
</div>