<app-sidebar></app-sidebar>
<div class="main-content">
<!-- Top navbar -->
<app-navbar></app-navbar>
<div class="header bg-gradient-danger pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="height: 150px; background-size: cover; background-position: center top;">
    <!-- Header container -->
        <div class="container-fluid align-items-center">
            <div class="row mt-3">
                <div class="col-lg-7 col-md-10 mt-6">
                <h1 class="display-2 text-white">Consumers List</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="margin-top: 3%;">
        <div class="row">
          <div class="col mb-4">
            <div class="card bg-secondary shadow">
              <div class="card-header bg-white border-0 d-flex align-items-center">
                <h3>Consumers List</h3>
              </div>
              <div class="card-body">
                <table class="table table-responsive table-striped table-bordered">
                    <thead class="thead-dark">
                        <th class="text-white">USER ID</th>
                        <th class="text-white">CONSUMER NAME</th>
                        <th class="text-white">PHONE NUMBER</th>
                        <th class="text-white">ADDRESS</th>
                        <th class="text-white">CARD NUMBER</th>
                        <th class="text-white">CARD TYPE</th>
                        <th class="text-white">SAVINGS ACCOUNT NUMBER</th>
                        <th class="text-white">IFSC CODE</th>
                        <th class="text-white">ACTIONS</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let consumer of consumerList">
                            <td style="font-weight: bold;"> {{consumer.user.userId}} </td>
                            <td style="font-weight: bold;"> {{consumer.fName}} {{consumer.lName}} </td>
                            <td style="font-weight: bold;"> {{consumer.phoneNo}} </td>
                            <td style="font-weight: bold;"> {{consumer.address}} </td>
                            <td style="font-weight: bold;"> {{consumer.card.cardNo}} </td>
                            <td style="font-weight: bold;"> {{consumer.card.cardTypeName}} </td>
                            <td style="font-weight: bold;"> {{consumer.savingAccNo}} </td>
                            <td style="font-weight: bold;"> {{consumer.ifscCode}} </td>
                            <td style="font-weight: bold;">
                                <button class="btn btn-info" style="font-size:18px;" [routerLink]="['/user-profile',consumer.user.userId]" routerLinkActive="router-link-active" ><i class="fa fa-pen" aria-hidden="true"></i></button>
                                <button class="btn btn-danger" style="font-size:18px;" (click)="showAlert(consumer.user.userId)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
    </div>
<div class="container-fluid">
    <app-footer></app-footer>
  </div>
</div>
